*{
    all: unset;
}

$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;


.wave trough {
    background-color: black;
    border-radius: 0em;
    min-height: 80px;
    min-width: 10px;
}

.wave highlight {
    background-color: unset;
    border-radius: 0em;
    background-image: url("assets/block34.png");
    background-position: center bottom;
    background-size: 2px;
}

.top{
    background-color: black;
}

.windowtop{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.windowtophalfright{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.windowtophalfleft{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 10px;
}

.nmbox{
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    background-color: black;
}

.paddedbox{
    padding: 2px;
}

.nmtab{
    font-family: "AcPlus IBM VGA 8x16";
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 48px;
    min-width: 200px;
    background-image: url("assets/nmTab.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 20px,0,0;
    background-color: black;
}

.nmtabhalf{
    font-family: "AcPlus IBM VGA 8x16";
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 44px;
    min-width: 180px;
    background-image: url("assets/nmTab.png");
    background-size: 230px;
    background-repeat: no-repeat;
    background-position: 20px,0,0;
    background-color: black;
}

.text{
    font-family: "AcPlus IBM VGA 8x16";
    font-size: 28px;
    padding: 2px;
}

.monitortext{
    font-family: "AcPlus IBM VGA 8x16";
    font-size: 22px;
    padding: 2px;
}

.textmini{
    font-family: "PxPlus IBM VGA 8x16";
    font-size: 12px;
    padding: 2px;
    padding-left: 20;
}

.textsystem{
    font-family: "AcPlus IBM VGA 8x16";
    font-size: 18px;
    padding: 2px;
    padding-left: 20;
}

.textbox{
    padding-left: 20px;
    padding-top: 20px;
}

.mcontrol{
    padding-top: 15px;
    padding-bottom: 15px;

}

.mbutton{
    padding: 5px;
}

.mppos trough {
    background-color: gray;
    min-height: 10px;
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.mppos highlight {
    background-color: white;
}